---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Summer Portfolio 2023 by Konosuke</title>
	</head>
	<body>
		<h1>Summer Portfolio 2023 by Konosuke</h1>
		<article>
			<h2>adaptixOS</h2>
			<li><a href="https://github.com/sakkke/adaptix">sakkke/adaptix</a></li>
			<li><a href="https://github.com/sakkke/adaptix-baseline">sakkke/adaptix-baseline</a></li>
			<li><a href="https://github.com/sakkke/adaptix-website">sakkke/adaptix-website</a></li>
			<li><a href="https://github.com/sakkke/adaptix-manifest">sakkke/adaptix-manifest</a></li>
		</article>
		<article>
			<h2>CLI utils</h2>
			<li><a href="https://github.com/sakkke/repolog">sakkke/repolog</a></li>
			<li><a href="https://github.com/sakkke/gotomato">sakkke/gotomato</a></li>
			<li><a href="https://github.com/sakkke/gobou">sakkke/gobou</a></li>
		</article>
		<article>
			<h2>Personal Learning</h2>
			<li><a href="https://github.com/sakkke/altmoodle">sakkke/altmoodle</a></li>
		</article>
		<article>
			<h2>Web Tools</h2>
			<li><a href="https://github.com/sakkke/chatgpt-useful-prompts">sakkke/chatgpt-useful-prompts</a></li>
		</article>
		<article>
			<h2>Templates</h2>
			<li><a href="https://github.com/sakkke/gotmpl">sakkke/gotmpl</a></li>
		</article>
		<article>
			<h2>Websites</h2>
			<li><a href="https://github.com/sakkke/summer-portfolio-2023">sakkke/summer-portfolio-2023</a></li>
		</article>
	</body>
</html>
