---
import '@fontsource-variable/anybody'
import '@fontsource-variable/inter'
---

<html class="font-sans leading-7 m-auto max-width-[70ch] px-4 py-12 text-2xl" lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Summer Portfolio 2023 by Konosuke</title>
	</head>
	<body class="bg-base text-text">
		<div class="mb-12 px-1">
			<h1 class="bg-clip-text bg-gradient-to-r font-['Anybody_Variable'] font-extrabold from-sky mb-2 text-md text-transparent to-pink w-fit">Summer Portfolio 2023 by Konosuke</h1>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum obcaecati ipsam sint saepe adipisci fugit cumque optio iure neque similique, pariatur laudantium magni laboriosam, nobis possimus animi mollitia doloremque rem.
			</p>
		</div>
		<div class="flex flex-col gap-y-4">
			<article class="backdrop-blur p-4 rounded shadow shadow-lavender">
				<div class="mb-4 px-1">
					<h2 class="font-bold mb-2 text-lg">adaptixOS</h2>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut illum nemo dolores exercitationem soluta consectetur odio veritatis eum harum. Officia officiis sit non nesciunt, eos suscipit quos quasi eveniet laudantium.
					</p>
				</div>
				<div class="gap-2 grid grid-cols-1 lg:grid-cols-3 w-fit">
					<section>
						<a href="https://github.com/sakkke/adaptix"><img src="https://gh-card.dev/repos/sakkke/adaptix.svg"></a>
					</section>
					<section>
						<a href="https://github.com/sakkke/adaptix-baseline"><img src="https://gh-card.dev/repos/sakkke/adaptix-baseline.svg"></a>
					</section>
					<section>
						<a href="https://github.com/sakkke/adaptix-website"><img src="https://gh-card.dev/repos/sakkke/adaptix-website.svg"></a>
					</section>
					<section>
						<a href="https://github.com/sakkke/adaptix-manifest"><img src="https://gh-card.dev/repos/sakkke/adaptix-manifest.svg"></a>
					</section>
				</div>
			</article>
			<article class="backdrop-blur p-4 rounded shadow shadow-lavender">
				<div class="mb-4 px-1">
					<h2 class="font-bold mb-2 text-lg">CLI Utils</h2>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut illum nemo dolores exercitationem soluta consectetur odio veritatis eum harum. Officia officiis sit non nesciunt, eos suscipit quos quasi eveniet laudantium.
					</p>
				</div>
				<div class="gap-2 grid grid-cols-1 lg:grid-cols-3 w-fit">
					<section>
						<a href="https://github.com/sakkke/repolog"><img src="https://gh-card.dev/repos/sakkke/repolog.svg"></a>
					</section>
					<section>
						<a href="https://github.com/sakkke/gotomato"><img src="https://gh-card.dev/repos/sakkke/gotomato.svg"></a>
					</section>
					<section>
						<a href="https://github.com/sakkke/gobou"><img src="https://gh-card.dev/repos/sakkke/gobou.svg"></a>
					</section>
				</div>
			</article>
			<article class="backdrop-blur p-4 rounded shadow shadow-lavender">
				<div class="mb-4 px-1">
					<h2 class="font-bold mb-2 text-lg">Personal Learning</h2>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut illum nemo dolores exercitationem soluta consectetur odio veritatis eum harum. Officia officiis sit non nesciunt, eos suscipit quos quasi eveniet laudantium.
					</p>
				</div>
				<div class="gap-2 grid grid-cols-1 lg:grid-cols-3 w-fit">
					<section>
						<a href="https://github.com/sakkke/altmoodle"><img src="https://gh-card.dev/repos/sakkke/altmoodle.svg"></a>
					</section>
				</div>
			</article>
			<article class="backdrop-blur p-4 rounded shadow shadow-lavender">
				<div class="mb-4 px-1">
					<h2 class="font-bold mb-2 text-lg">Web Tools</h2>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut illum nemo dolores exercitationem soluta consectetur odio veritatis eum harum. Officia officiis sit non nesciunt, eos suscipit quos quasi eveniet laudantium.
					</p>
				</div>
				<div class="gap-2 grid grid-cols-1 lg:grid-cols-3 w-fit">
					<section>
						<a href="https://github.com/sakkke/chatgpt-useful-prompts"><img src="https://gh-card.dev/repos/sakkke/chatgpt-useful-prompts.svg"></a>
					</section>
				</div>
			</article>
			<article class="backdrop-blur p-4 rounded shadow shadow-lavender">
				<div class="mb-4 px-1">
					<h2 class="font-bold mb-2 text-lg">Templates</h2>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut illum nemo dolores exercitationem soluta consectetur odio veritatis eum harum. Officia officiis sit non nesciunt, eos suscipit quos quasi eveniet laudantium.
					</p>
				</div>
				<div class="gap-2 grid grid-cols-1 lg:grid-cols-3 w-fit">
					<section>
						<a href="https://github.com/sakkke/gotmpl"><img src="https://gh-card.dev/repos/sakkke/gotmpl.svg"></a>
					</section>
				</div>
			</article>
			<article class="backdrop-blur p-4 rounded shadow shadow-lavender">
				<div class="mb-4 px-1">
					<h2 class="font-bold mb-2 text-lg">Websites</h2>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut illum nemo dolores exercitationem soluta consectetur odio veritatis eum harum. Officia officiis sit non nesciunt, eos suscipit quos quasi eveniet laudantium.
					</p>
				</div>
				<div class="gap-2 grid grid-cols-1 lg:grid-cols-3 w-fit">
					<section>
						<a href="https://github.com/sakkke/summer-portfolio-2023"><img src="https://gh-card.dev/repos/sakkke/summer-portfolio-2023.svg"></a>
					</section>
				</div>
			</article>
		</div>
	</body>
</html>
